<h2>Stock List</h2>

<div class="search-container">
  <input type="text" placeholder="Search by name or code" [(ngModel)]="searchTerm" (input)="search()">
</div>

<div class="stock-list-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Price</th>
        <th>Exchange</th>
        <th>Favorite</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (s of stocks; track s.code) {
        <tr app-stock-items 
            [stock]="s" 
            (toggleFavorite) = "onToggleFavorite($event)"
            (deleteStock)="onDeleteStock($event)"
            (updateStock)="onUpdateStock($event)"
            (viewDetails)="onViewDetails($event)" >
        </tr>
      }
    </tbody>
  </table>
</div>



<!-- BACKDROP -->
<div class="modal-backdrop" *ngIf="isDetailOpen || isUpdateOpen"></div>

<!-- DETAIL DIALOG -->
<div class="modal" *ngIf="isDetailOpen">
  <h3>Stock Details</h3>

  <p><b>Name:</b> {{ selectedStock?.name }}</p>
  <p><b>Code:</b> {{ selectedStock?.code }}</p>
  <p><b>Price:</b> {{ selectedStock?.price }}</p>
  <p><b>Previous:</b> {{ selectedStock?.previousPrice }}</p>
  <p><b>Exchange:</b> {{ selectedStock?.exchange }}</p>

  <button (click)="closeDialog()">Close</button>
</div>

<!-- UPDATE DIALOG -->
<div class="modal" *ngIf="isUpdateOpen">
  <h3>Update Stock</h3>

  <input [(ngModel)]="selectedStock!.name" placeholder="Name">
  <input [(ngModel)]="selectedStock!.price" type="number" placeholder="Price">
  <input [(ngModel)]="selectedStock!.exchange" placeholder="Exchange">

  <div style="margin-top: 10px;">
    <button (click)="saveStock()">Save</button>
    <button (click)="closeDialog()">Cancel</button>
  </div>
</div>



